/*RESPONSIVE (GRANDEZZA TABLET)*/

@media screen and (min-width: 768px) {
    .Responsive{
        display: none;
    }
    .notResponsive{
        display: block;
    }
    .justify-content-around-if-responsive{
        justify-content: center;
    }
    .w-100per-not-responsive{
        width: 100%;
    }
}

/*NON RESPONSIVE (GRANDEZZA PC)*/

@media screen and (max-width: 767px) {


    .notResponsive{
        display: none;
    }
    .Responsive{
        display: block;
    }
    .flex-row-home{
        display: flex;
        justify-content: center;
    }
    .Responsive i{
        margin-right: 17px;
        margin-left: 5px;
        margin-bottom: 5px;
        font-size: 20px;
    }
    .justify-content-around-if-responsive{
        justify-content: space-between;
    }

    .w-100per-not-responsive{
        width: 75%;
    }
}