*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.color-white{
    color: white;
}


.smallSizeText{
    font-size: 12px;
    text-align: center;
}

.mediumSizeText{
    font-size: 15px;
    text-align: center;
}


.selected{
    background-color: rgb(27, 33, 49);
    height: 5px;
    width: 60%;
}

.selectedSidebar{
    background-color: black;
    height: 35px;
    width: 5px;
}

/*FLEX UTILITY*/

.flex{
    display: flex;
}

.flex-col{
    display: flex;
    flex-direction: column;
}
.flex-row{
    display: flex;
    flex-direction: row;
}

/*JUSTIFY-CONTENT*/

.justify-content-start{
    justify-content: flex-start;
}

.justify-content-center{
    justify-content: center;
}

.justify-content-end{
    justify-content: flex-end;
}

/*ALIGN-ITEMS*/


.align-items-center{
    align-items: center;
}

.align-items-end{
    align-items: flex-end;
}

/*W-H 100%*/

.w-100per{
    width: 100%;
}

.h-100per{
    height: 100%;
}

/*MARGIN*/
.margin-top-10{
    margin-top: 10px;
}

.margin-top-15{
    margin-top: 15px;
}

.margin-top-20{
    margin-top: 20px;
}

.margin-right-10{
    margin-right: 10px;
}

.margin-right-30{
    margin-right: 30px;
}

.margin-left-10{
    margin-left: 10px;
}

.margin-left-15{
    margin-left: 15px;
}

.margin-left-20{
    margin-left: 20px;
}

.margin-bottom-10{
    margin-bottom: 15px;
}

/*MAIN*/

main{
    background-color: rgb(27, 33, 49);
    height: calc(100vh - 100px);
    display: flex;
}

.bar{
    height: 10%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: rgb(110, 109, 109);
}

.content{
    min-height: 300px;
    padding: 20px 0;
    color: white;
}

#sidebar{
    position: fixed;
    z-index: 1;
    width: 15vw;
    background-color: black;
    color: white;
    height: 850px;
}

.home-playist{
    height: 80%;
}

.logo{
    height: 10%;
}

.logo img{
    margin-top: 10px;
    width: 80%;
}

.box{
    min-width: 30px;
    border: 1px solid white;
    background-color: white;
    color: black;
    text-align: center;
    font-size: 25px;
}

.user{
    height: 10%;
}

.container{
    padding-top: 20px;
    padding-bottom: 120px;
    background-color: rgb(27, 33, 49);
}

#containerContent{
    width: 100%;
    padding-top: 100px;
    margin-left: 15vw;
    color: white;
}

.upgradeSection{
    position: fixed;
    top: 0;
    width: 85vw;
    height: 100px;
    background-color: rgb(31, 31, 31);
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.upgradeSection .button{
    width: 180px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    border: 1px solid white;
    background-color: rgb(31, 31, 31);
    color: white;
    cursor: pointer;
    margin-right: 20px;
    font-size: 12px;
}

.hoverON{
    cursor: pointer;
}

.hoverON:hover .selected{
    background-color: green;
}

.hoverON:hover .selectedSidebar{
    background-color: green;
}

/*FOOTER*/
footer{
    position: fixed;
    width: 100%;
    height: 100px;
    background-color: rgb(47, 47, 47);
    z-index: 1;
}

.canzone{
    width:20%;
}

.canzone img{
    width: 50px;
    margin-left: 10px;
}

.barraCanzone{
    align-items: center;
    width: 60%;
}

.toolCanzone{
    align-items: center;
    width:20%;
}

.play-music{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.barMusic{
    height:10px;
    width:50%;
    margin: 10px;
    border: 1px solid black;
    background-color: rgb(71, 70, 70);
    border-radius: 20px;
}

.barMusic .progress, .barVolume .progress{
    width: 12%;
    height: 100%;
    background-color: white;
    border-radius: 20px;
}

.barToolPlay{
    width: calc(20% / 5);
    margin-right: 5px;
}

.barToolPlay i{
    cursor: pointer;
}

.barraVolume{
    align-items: center;
    width: 150px;
}

.barVolume{
    height:10px;
    width: 8vw;
    margin: 10px;
    border: 1px solid black;
    background-color: rgb(71, 70, 70);
    border-radius: 20px;
}