*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


main{
    background-color: lightcoral;
    height: calc(100vh - 100px);
    display: flex;
}

#sidebar{
    width: 250px;
    background-color: red;
    height: 100%;
}


#containerContent{
    height: 100%;
    width: calc(100vw - 250px);
    background-color: blue;
    overflow-y: auto;
    color: white;
}

.upgradeSection{
    width: 87vw;
    height: 15%;
    background-color: aqua;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.upgradeSection button{
    width: 180px;
    height: 40px;
    border-radius: 20px;
}

footer{
    height: 100px;
    background-color: blue;
}